<h1 align="center">Show Question</h1>
<link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />
<table>
  <tr>
    <td style="width: 260px">Question:</td>
    <td> <%= raw @questions.question %></td>
  </tr>
  <tr>
    <td style="width: 260px">Answer:</td>
    <td><%= @questions.answer %></td>
  </tr>
</table>
